@model IEnumerable<WebApplication1.Models.Objeto>

@{
    ViewBag.Title = "Index";
}

<head>
    <style>
        .titulo {
            font-family: Calibri;
            font-size: 34px;
            text-align: center;
        }
        .cent {
            text-align: center;
        }
        .texto {
         text-align:left;
        }
    </style>

</head>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            <div class="col-md-4 cent">
                <img src=item.imagen width="300ex" height="200ex" />
                <h2>@Html.DisplayFor(modelItem => item.Nombre)</h2>
                <p class="texto">@Html.DisplayFor(modelItem => item.Precio)</p>
                <p class="texto">@Html.DisplayFor(modelItem => item.Descripcion)</p>
                <p class="texto"> @Html.DisplayFor(modelItem => item.TiempoLimite)</p>
                

                <p><a class="btn btn-default" href="http://www.lg.com/co/televisores/lg-42CS560-lcd">¡informacion sobre el articulo! &raquo;</a></p>
                ingrese valor de puja
                <input type="text" id="precio" />
                <p><a class="btn btn-default">pujar!&raquo;</a></p>
            </div>
        </td>
        <td>
         @Html.ActionLink("Descripcion", "Detalle", "Objeto", item, null)
        </td>
    </tr>
}

</table>
